@model IEnumerable<Vidly.Models.Customer> 

<h1>Customers</h1>

@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Membership Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.ID}, null)</td>
                <td>@customer.MembershipType.MembershipName</td>
            </tr>
            }
        </tbody>
    </table>

} else
{
    <p>We dont have any customers</p>
}


